py_crazyswarm2/py_crazyswarm2/crazyflie-firmware/
ros2setup.sh
build/
log/
install/
*.vscode/
ros_ws/build/
ros_ws/devel/
ros_ws/src/CMakeLists.txt
.DS_Store
*.pyc
*~
*.mexa64
# james's symlinks :)
cfs.yaml
firm
client
launch # ignore launch symlink
!*ros_ws/*launch* # don't ignore folders with launch in the name
